body {
  background: #f4f1de;
}
h1,
h4,
p {
  text-align: center;
}
footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
a {
  color: green;
}
img {
  display: block;
  margin: 0 auto;
  width: 300px;
  margin-bottom: 20px;
}
